.background-grid {
    background-size: 40px 40px;
    background-image: none;
    transition: background-image 2s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    .background-grid {
        background-image:
            linear-gradient(to right, rgb(27, 27, 30) 1px, transparent 1px),
            linear-gradient(to bottom, rgb(27, 27, 30) 1px, transparent 1px);
    }
}

@media (prefers-color-scheme: light) {
    .background-grid {
        background-image:
            linear-gradient(to right, rgb(246 247 248) 1px, transparent 1px),
            linear-gradient(to bottom, rgb(246 247 248) 1px, transparent 1px);
    }
}